{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        {# ocn__catalog_ajax_buttons #}
        <button data-toggle="tooltip" title="{{ button_save_ajax }}" class="btn btn-success" id="saveAjax" data-add="{{ action_ajax_add }}" data-edit="{{ action_ajax_edit }}" data-id="{{ manufacturer_id }}"><i class="fa fa-save"></i></button>
        {# ocn__catalog_ajax_buttons #}
        <button type="submit" form="form-manufacturer" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-manufacturer" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-seo" data-toggle="tab">{{ tab_seo }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
                <div class="col-sm-10">
                  <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                  {% if error_name %}
                  <div class="text-danger">{{ error_name }}</div>
                  {% endif %}</div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_store }}</label>
                <div class="col-sm-10">
                  <div class="well well-sm" style="height: 150px; overflow: auto;"> {% for store in stores %}
                    <div class="checkbox">
                      <label>{% if store.store_id in manufacturer_store %}
                        <input type="checkbox" name="manufacturer_store[]" value="{{ store.store_id }}" checked="checked" />
                        {{ store.name }}
                        {% else %}
                        <input type="checkbox" name="manufacturer_store[]" value="{{ store.store_id }}" />
                        {{ store.name }}
                        {% endif %}</label>
                    </div>
                    {% endfor %}</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-image">{{ entry_image }}</label>
                <div class="col-sm-10"><a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="image" value="{{ image }}" id="input-image" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-seo">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_keyword }}</div>
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_store }}</td>
                      <td class="text-left">{{ entry_keyword }}</td>
                    </tr>
                  </thead>
                  <tbody>
                  {% for store in stores %}
                  <tr>
                    <td class="text-left">{{ store.name }}</td>
                    <td class="text-left">{% for language in languages %}
                      <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                        <input type="text" name="manufacturer_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if manufacturer_seo_url[store.store_id][language.language_id] %}{{ manufacturer_seo_url[store.store_id][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" class="form-control" />
                      </div>
                      {% if error_keyword[store.store_id][language.language_id] %}
                      <div class="text-danger">{{ error_keyword[store.store_id][language.language_id] }}</div>
                      {% endif %} 
                      {% endfor %}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{# ocn__catalog_ajax_buttons #}
<script>
  $('#saveAjax').on('click', function () {
    $('.alert').remove();
    $('.has-error').removeClass('has-error');
    $('.text-danger').remove();

    let buttonSaveAjax = $('#saveAjax');
    let buttonSave = $('button[type=submit]');
    let buttonReturn = $('a.btn.btn-default');
    let id = buttonSaveAjax.attr('data-id');
    const urlAjaxAdd = buttonSaveAjax.attr('data-add');
    const urlAjaxEdit = buttonSaveAjax.attr('data-edit');

    $.ajax({
      type: 'post',
      data: $('form').serialize(),
      url: id ? urlAjaxEdit : urlAjaxAdd,
      dataType: 'json',
      beforeSend: function() {
        buttonSaveAjax.prop('disabled', true);
        buttonSave.prop('disabled', true);
        buttonReturn.attr('disabled', true);
        buttonSaveAjax.find('i.fa').removeClass('fa-save').addClass('fa-spinner fa-pulse');
      },
      complete: function() {
        buttonSaveAjax.prop('disabled', false);
        buttonSave.prop('disabled', false);
        buttonReturn.attr('disabled', false);
        buttonSaveAjax.find('i.fa').removeClass('fa-spinner fa-pulse').addClass('fa-save');
      },
      success: function(response) {
        let listErrors = '';
        let alertMessage = response.success;
        let alertColor = 'success';
        if (response.error) {
          listErrors += '<ul>'

          if (response.error.name) {
            $('label[for=input-name]').parent().addClass('has-error');
            let alertErrorInput = '<div class="text-danger">' + response.error.name + '</div>';
            $('#input-name').parent().append(alertErrorInput);
            listErrors += '<li>' + response.error.name + '</li>';
          }

          if (response.error.keyword) {
            for (let first in response.error.keyword) {
              for (let second in response.error.keyword[first]) {
                let alertErrorInput = '<div class="text-danger">' + response.error.keyword[first][second] + '</div>';
                $('input[name="manufacturer_seo_url[' + first + '][' + second + ']"]').parent().addClass('has-error').after(alertErrorInput);
              }
            }
            listErrors += '<li>' + response.error.keyword[0][1] + '</li>';
          }

          listErrors += '</ul>';

          alertMessage = response.error.warning;
          alertColor = 'danger';
        } else if (!id) {
          $('h3.panel-title').html('<i class="fa fa-pencil"></i>' + response.text_form);
          buttonSaveAjax.attr('data-id', response.manufacturer_id);
          buttonSaveAjax.attr('data-edit', urlAjaxEdit + response.manufacturer_id);
          const newUrl = window.location.href.replace('/add', '/edit') + '&manufacturer_id=' + response.manufacturer_id;
          window.history.pushState(null, null, newUrl);
          $('form').attr('action', newUrl);
        }
        let alertBlock = '<div class="alert alert-' + alertColor + ' alert-dismissible"><i class="fa fa-exclamation-circle"></i>' + alertMessage + '<button type="button" class="close" data-dismiss="alert">&times;</button>' + listErrors + '</div>';
        $('#content > .container-fluid').prepend(alertBlock);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  })
</script>
{# ocn__catalog_ajax_buttons #}
{{ footer }}